*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    max-width: 1200px;
    margin: auto;
}
header{
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.filter{
    display: flex;
    justify-content: center;
}
.btn_clear_input{
    margin-left: 10px;
    font-size: 18px; 
    padding: 0 20px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    cursor: pointer;
}
.btn_clear_input:hover{
    border: 1px solid #cccbcb;
    background-color: #e5e6e7;
}
.filter_input{
    width: 400px; 
    font-size: 18px; 
    padding: 15px 40px;
    border: 1px solid #ddd;
} 
.photo_container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 1 auto;
}
.photo_item {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: calc(33% - 20px);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}
.photo_item img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.photo_item h2{
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}
.btn{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
    align-items: center;
}
.btn_prev,
.btn_next{
    padding: 10px 30px;
    font-size: 18px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
}
.btn_prev:hover,
.btn_next:hover{
    background-color: #e5e6e7;
}
.author_name{
    background-color: #f8f9fa;
    text-align: center;
    padding: 30px;
}

@media (max-width: 770px) { 
    .photo_item {
        width: calc(50% - 20px);
        box-sizing: border-box;
    }
    .filter_input{
        width: 300px; 
        font-size: 16px; 
        padding: 15px 30px;
        border: 1px solid #ddd;
    } 
    .btn_clear_input{
        font-size: 16px; 
    }
    .photo_item h2{
        font-size: 16px;
    }
    .btn_prev,
    .btn_next{
    padding: 10px 20px;
    font-size: 16px;
}
}
@media (max-width: 575px) { 
    .photo_item {
        width: 100%;
        box-sizing: border-box;
    }
    .filter_input{
        width: 200px; 
        font-size: 14px; 
        padding: 10px 20px;
        border: 1px solid #ddd;
    } 
    .btn_clear_input{
        font-size: 14px; 
    }
    .photo_item h2{
        font-size: 14px;
    }
    .btn_prev,
    .btn_next{
    padding: 5px 15px;
    font-size: 14px;
}
}